[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
peewee = "*"
pymysql = "*"
fastapi = "*"
uvicorn = "*"
mypy = "*"
python-dotenv = "*"
pyaes = "*"
pyjwt = "*"
redis = "*"
captcha = "*"
pydantic = "*"
pydantic-settings = "*"
playhouse = "*"
bcrypt = "*"


[dev-packages]
pytest = "*"
black = "*"
flake8 = "*"
mypy = "*"

[requires]
python_version = "3.11"
