[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
peewee = "==3.15.4"
pymysql = "==1.1.2"
psycopg2 = "==2.9.12"
fastapi = "==0.135.1"
uvicorn = "==0.41.0"
python-dotenv = "==1.2.2"
cryptography = "==50.0.0"
pyjwt = "==2.11.0"
redis = "==7.2.1"
captcha = "==0.7.1"
pydantic = "==2.12.5"
pydantic-settings = "==2.13.1"
bcrypt = "==5.0.0"


[dev-packages]
pytest = "==9.0.2"
black = "==26.1.0"
flake8 = "==7.3.0"
mypy = "==1.19.1"

[requires]
python_version = "3.11"
